# Ignore all 
* 

# Unignore all with extensions *.S *.inc *.c *.h *.md *.ld y con Makefile 
!*.tex
!*.bib
!Makefile 
!.gitignore

# Unignore algunos tipos de archivos de gráficos
!*.png
!*.svg
!*.jpg
!*.jpeg

# Unignore all dirs
!*/

